/*------Body Part-------*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}
header {
  background-color: #4CAF50;
  color: white;
  padding: 1em;
  text-align: center;
  line-height: 25px;
}

/*--------------------*/ 
ul {
  list-style-type: none; /*------ . -------*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-size: 19px;
}
li {
  float: left;
  border-right:1px solid #208f3c;
}
li:last-child {
  border-right: none;
}
li a {
  display: block;
  color: white; /*------text color -------*/
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: rgb(170, 138, 164);
}

.active {
  background-color: #e8f3ef;
}
.container {
  padding: 4px; /*------padding at left and right -------*/
}
.section {
  margin-bottom: 3px;
  padding: 0em;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 18px;
}
.section h2 {
  color: #4CAF50;
  text-align: center;
}
  .section p {
    color: black;
    text-align: center;
  }

.pdf-link, .video {
  margin: 10px 0;
}
.pdf-link a {
  color: #4CAF50;
  text-decoration: none;
}
.pdf-link a:hover {
  text-decoration: underline;
}

.bg {
  /* The image used */
  background-image: url("img/background.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*---Body Style-----------------*/ 
.myDiv{
  padding: 8px;
  font-size: 18px;
  background-color: aqua;
}